
The kite to me is the most valuable symbol in the novel_  a kite can symbolize fate, freedom and prophecy. in the novel th. in the novel the kite represents as the freeness they wished and how poorly they were treated_
.gitattributes
